/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
}

body,
main,
app-root,
app-file-viewer
{
  height: 100%;
}